<!doctype html>
<html lang="ko">
  <head>

    <meta charset="utf-8">
    <title>HUFSTUDY</title>
    {% block mobileView %}
    {% endblock %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <style>

      #jb-container {
        width: 2200px;
        height:1150px;
        margin-left: auto;
        margin-right:auto;
        padding-top:300px;
        border: 1px solid #bcbcbc;
      }
      
      
      #jb-content2 {
        width: 900px;
        height: 600px;
        padding: 20px;
        margin-left: 133px;
        float: left;
        border: 1px solid #bcbcbc;
      }
    </style>
  </head>

  <body style="background-color: #f7f7ff;">
    
    <div id="jb-container">
        <div id="jb-content2">


        </div>
        <div id="jb-content2">

        </div>
    </div>

  </body>
</html>